certifi==2022.5.18.1
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
Flask==2.0.3
Flask-Cors==3.0.7
ibm-cloud-sdk-core==3.13.1
ibm-watson==6.0.0
idna==2.8
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
numpy==1.22.4
pandas==1.4.1
psycopg2==2.9.3
PyJWT==2.4.0
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
six==1.16.0
urllib3==1.25.11
websocket-client==1.1.0
Werkzeug==2.0.3
xlrd==1.2.0